<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Создание рецепта - Рецепты</title>
  <link href="/bootstrap.css" rel="stylesheet"/>
  <link href="/site.css" rel="stylesheet"/>
  <script src="/modernizr-2.8.3.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/cooking">Кулинарный справочник</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dish">Блюда</a></li>
                <li><a href="/dishCategory">Категории блюд</a></li>
                <li><a href="/ingredient">Ингредиенты</a></li>
                <li><a href="/ingredientCategory">Категории ингредиентов</a></li>
                <li><a th:if="${user}=='anonymousUser'" href="/account/registration" id="registerLink">Регистрация</a></li>
                <li><a th:if="${user}=='anonymousUser'" href="/login" id="loginLink">Выполнить вход</a></li>
                <li><a th:if="${user}!='anonymousUser'" href="/cooking/SelectedRecipe" >Избранное</a></li>
                <li><a th:if="${user}!='anonymousUser'" href="/account" th:text="${'Пользователь: '+user}"></a></li>
                <li><a th:if="${user}!='anonymousUser'" href="/login?logout" >Выход</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <h2>Создание рецепта</h2>

    <form th:method="POST"  th:action="@{'/cooking/AddIngredient'}" th:object="${cooking}" >
      <div class="form-horizontal">
<!--        <input th:name="dishId" type="hidden" th:value="${dishId}" />-->
        <input th:name="dishId" th:field="*{dish}" type="hidden" th:value="${cooking.dish.id}" />

        <div class="form-group">
          <label class="control-label col-md-2" for="timeCooking">Время приготовления</label>
          <div class="col-md-10">
            <input type="time" th:field="*{timeCooking}"  name="timeCooking" id="timeCooking" class="form-control" min="00:01:00" value="00:00:00" required>
<!--            <input   id="nameDish"  class="form-control text-box single-line" data-val="true"  type="text" value="" />-->
<!--            <span th:if="${#fields.hasErrors('nameDish')}" th:errors="*{nameDish}" class="text-danger field-validation-error"  data-valmsg-replace="true"/>-->
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2" for="descriptionCooking">Описание процесса приготовления</label>
          <div class="col-md-10">
            <textarea th:field="*{descriptionCooking}"  name="descriptionCooking" id="descriptionCooking" rows="15" cols="50" minlength="1" maxlength="5000" required style="resize:none"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1 col-md-offset-4">
            <input type="submit" value="Продолжить" class="btn btn-default" />
          </div>
        </div>
      </div>
    </form>
    <a href="/cooking/ChoiceDish">Вернуться к выбору блюд</a>
    <hr />
    <footer>
      <p>&copy; 2023 - мое приложение ASP.NET</p>
    </footer>
  </div>
<script src="/jquery-3.4.1.js"></script>
<script src="/bootstrap.js"></script>
</body>
</html>