<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org "
>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Удалить изображение</title>
  <link href="/bootstrap.css" rel="stylesheet"/>
  <link href="/site.css" rel="stylesheet"/>
  <script src="/modernizr-2.8.3.js"></script>


</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cooking">Кулинарный справочник</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/dish">Блюда</a></li>
        <li><a href="/dishCategory">Категории блюд</a></li>
        <li><a href="/ingredient">Ингредиенты</a></li>
        <li><a href="/ingredientCategory">Категории ингредиентов</a></li>
        <li><a th:if="${user}=='anonymousUser'" href="/account/registration" id="registerLink">Регистрация</a></li>
        <li><a th:if="${user}=='anonymousUser'" href="/login" id="loginLink">Выполнить вход</a></li>
        <li><a th:if="${user}!='anonymousUser'" href="/cooking/SelectedRecipe" >Избранное</a></li>
        <li><a th:if="${user}!='anonymousUser'" href="/account" th:text="${'Пользователь: '+user}"></a></li>
        <li><a th:if="${user}!='anonymousUser'" href="/login?logout" >Выход</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container body-content">


  <h2>Удалить изображения</h2>


    <input th:field="${cooking.id}" type="hidden" th:value="${cooking.id}">
    <div class="form-horizontal">
    <br />
    <table class="table">
      <tr>
        <th>
          Фото
        </th>
        <th></th>
      </tr>
      <tr th:each="image : ${images}">
        <td th:text="${image.filename}"/>
        <td >
          <form th:method="POST"  th:action="@{'/cooking/DeleteImage'}" th:object="${cooking}" >
            <input th:field="${cooking.id}" type="hidden" th:value="${cooking.id}">
            <input th:name="filename" type="hidden" th:value="${image.filename}">
            <input type="submit" th:name="action"  class="btn btn-default" th:value="Удалить"  />
          </form>
        </td>
      </tr>

    </table>
    <br>
      <form th:method="POST"  th:action="@{'/cooking/SaveEditDeletePhoto'}" th:object="${cooking}" enctype="multipart/form-data" >
        <div class="col-md-0 col-md-offset-8">
          <input type="submit" name="action" value="Сохранить рецепт" class="btn btn-default" />
        </div>
      </form>
  </div>

  <div>
    <a th:href= "@{'/cooking/WorkWithImage/'+${cooking.id}}">Вернуться</a>
  </div>
  <hr />
  <footer>
    <p>&copy; 2023 - мое приложение ASP.NET</p>
  </footer>
</div>

<script src="/jquery-3.4.1.js"></script>

<script src="/bootstrap.js"></script>


</body>
</html>