<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блюда</title>
  <link href="/bootstrap.css" rel="stylesheet"/>
  <link href="/site.css" rel="stylesheet"/>
  <script src="/modernizr-2.8.3.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cooking">Кулинарный справочник</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/dish">Блюда</a></li>
        <li><a href="/dishCategory">Категории блюд</a></li>
        <li><a href="/ingredient">Ингредиенты</a></li>
        <li><a href="/ingredientCategory">Категории ингредиентов</a></li>
        <li><a th:if="${user}=='anonymousUser'" href="/account/registration" id="registerLink">Регистрация</a></li>
        <li><a th:if="${user}=='anonymousUser'" href="/login" id="loginLink">Выполнить вход</a></li>
        <li><a th:if="${user}!='anonymousUser'" href="/cooking/SelectedRecipe" >Избранное</a></li>
        <li><a th:if="${user}!='anonymousUser'" href="/account" th:text="${'Пользователь: '+user}"></a></li>
        <li><a th:if="${user}!='anonymousUser'" href="/login?logout" >Выход</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container body-content">
  <h2>Блюда</h2>
  <p>
    <a th:if="${role}!='anonymousUser'"  th:href="@{'/dish/Create'}">Добавить блюдо</a>
  </p>
  <hr />
    <form  th:action="@{'/dish'}" th:method="POST" >
    <div class="row">
    <div class="col-md-3">
      <select th:name="selectedDishCategoryId" class="form-control chosen-category" >
        <option value="">Выберите категорию</option>
        <option  th:each="dishCategory :${dishCategories}"
                 th:value="${dishCategory.id}"
                 th:text="${dishCategory.nameDishCategory}"
                 th:selected="(${dishCategory.nameDishCategory} == ${selectedDishCategory})">
      </select>

    </div>
    <div class="col-md-3">
      <input type="submit" value="Применить" class="btn btn-default">
    </div>
  </div>
  </form>

  <br />
  <table class="table">
    <tr>
      <th>
        Блюдо
      </th>
      <th>
        Количество углеводов (гр)
      </th>
      <th>
        Количество жиров (гр)
      </th>
      <th>
        Количество белков (гр)
      </th>
      <th>
        Количество калорий (ккал)
      </th>

      <th>

      </th>
    </tr>
    <tr th:each="dish : ${dishes}">
      <td th:text="${dish.nameDish}"/>
      <td th:text="${dish.valueCarbohydrates}"/>
      <td th:text="${dish.valueFats}"/>
      <td th:text="${dish.valueProteins}"/>
      <td th:text="${dish.valueCalories}"/>

      <td >
<!--        cooking-->
<!--        <form name="myform" action="data.php">-->

<!--          <a href="document.myform.submit();">Отправить</a>-->
<!--        </form>-->
<!--        -->


        <form  th:action="@{'/cooking'}" th:method="POST" >
          <input type="hidden" th:name="selectedDishId" th:value="${dish.id}">
          <input name="submit1" type="submit" value="Посмотреть блюда" ></input>
          <a th:if="${role}!='anonymousUser'" th:href="@{'/cooking/CreateCooking/'+${dish.id}}">| Создать рецепт</a>
          <a th:if="${user==dish.author} or ${role}=='ADMIN'"  th:href="@{'/dish/Edit/'+${dish.id}}">| Изменить</a>
          <a th:if="${user==dish.author} or ${role}=='ADMIN'"  th:href="@{'/dish/Delete/'+${dish.id}}">| Удалить</a>
        </form>


      </td>
    </tr>
  </table>

  <hr />
  <footer>
    <p>&copy; 2023 - мое приложение Spring</p>
  </footer>
</div>
<script src="/jquery-3.4.1.js"></script>
<script src="/bootstrap.js"></script>
<style type="text/css">
    form input[name="submit1"] {

        background: none;
        border: none;
        color: steelblue;
        cursor: pointer;
    }
        form input[name="submit1"]:hover {

            background: none;
            border: none;
            color: steelblue;
            cursor: pointer;
            text-decoration: underline;


        }
</style>
</body>
</html>

