
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href="/bootstrap.css" rel="stylesheet"/>
    <link href="/site.css" rel="stylesheet"/>
    <script src="/modernizr-2.8.3.js"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/cooking">Кулинарный справочник</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/dish">Блюда</a></li>
                <li><a href="/dishCategory">Категории блюд</a></li>
                <li><a href="/ingredient">Ингредиенты</a></li>
                <li><a href="/ingredientCategory">Категории ингредиентов</a></li>
                <li><a th:if="${user}=='anonymousUser'" href="/account/registration" id="registerLink">Регистрация</a></li>
                <li><a th:if="${user}=='anonymousUser'" href="/login" id="loginLink">Выполнить вход</a></li>
                <li><a th:if="${user}!='anonymousUser'" href="/cooking/SelectedRecipe" >Избранное</a></li>
                <li><a th:if="${user}!='anonymousUser'" href="/account" th:text="${'Пользователь: '+user}"></a></li>
                <li><a th:if="${user}!='anonymousUser'" href="/login?logout" >Выход</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">

    <h1>Регистрация пользователя</h1>

    <form th:method="POST" th:action="@{'/registration'}" th:object="${userForm}" >
        <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="UserName">Логин</label>
            <div class="col-md-10">
                <input type="text" path="username" id="UserName" th:field="*{username}" placeholder="Username" autofocus="true"></input>
                <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Пароль</label>
            <div class="col-md-10">
                <input type="password" id="Password" th:field="*{password}" path="password" placeholder="Password"></input>
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="ConfirmPassword">Повторите пароль</label>
            <div class="col-md-10">
                <input type="password" id="ConfirmPassword" th:field="*{passwordConfirm}" path="passwordConfirm"
                       placeholder="Confirm your password"></input>
                <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
        </div>
            <input type="hidden" id="1" th:field="*{enabled}" th:value="1" path="email"
               >
        <div class="form-group">
            <label class="control-label col-md-2" for="Email">E-mail</label>
            <div class="col-md-10">
                <input type="email" id="Email" th:field="*{email}" path="email"
                       placeholder="Confirm your password"></input>
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зарегистрировать" class="btn btn-primary" />
            </div>
        </div>

    </div>
    </form>
    <hr />
    <footer>
        <p>&copy; 2023 - мое приложение ASP.NET</p>
    </footer>
</div>

<script src="/jquery-3.4.1.js"></script>

<script src="/bootstrap.js"></script>


</body>
</html>